.comment-container {
  min-height: 300px;
  max-width: 1200px;
  margin: 70px auto 0px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 20px;
}

.comment-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 10px 0px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.manage-comment {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
}

.comment-body {
  max-width: 100%;
  overflow-x: auto;
  padding: 10px 0px;
}

.comment-body table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0px;
}

.comment-body table th,
.comment-body table td {
  width: 20%; /* reduced from 150px */
  text-align: left;
  padding: 10px; /* add padding for readability */
  border: 1px solid #ccc;
}

.view-comment {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #d7213a;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .comment-body table {
    display: block;
    width: 100%;
  }
  .comment-body th,
  td {
    display: block;
  }
  .comment-body td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  .comment-body td {
    clear: both;
  }
}
