.query-container {
  min-height: 300px;
  max-width: 1200px;
  margin: 70px auto 0px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}

.query-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.manage-query {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
}

.view-query {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #d7213a;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.query-body {
  max-width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.query-body table {
  border-collapse: collapse;
  width: 100%;
}

.query-body table th,
.query-body table td {
  padding: 10px 15px; /* increased padding for better spacing */
}

.query-body table th {
  background-color: #f1f1f1; /* add background color to table header */
}

/* Add some responsive styling */
@media screen and (max-width: 600px) {
  .query-body table {
    display: block;
    width: 100%;
  }
  .query-body table th,
  td {
    display: block;
    width: 100%;
    text-align: left;
  }
  .query-body td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  .query-body td {
    clear: both;
    margin-bottom: 10px; /* add some margin between rows for better spacing */
  }
}
